[Desktop Entry]
Type=Application
Name=Zen Printers
Icon=printer
Exec=zen-printers
NoDisplay=false
Categories=Printing;
StartupNotify=false
Terminal=false
